@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 14% 96%;
    --foreground: 222 84% 5%;
    --card: 0 0% 100%;
    --card-foreground: 222 84% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 84% 5%;
    --primary: 157 64% 52%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 84% 5%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 157 74% 83%;
    --accent-foreground: 157 50% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 157 64% 52%;
    --radius: 0.5rem;
    --chart-1: hsl(157 64% 52%);
    --chart-2: hsl(157, 50%, 60%);
    --chart-3: hsl(157, 80%, 70%);
    --chart-4: hsl(215.4, 16.3%, 56.9%);
    --chart-5: hsl(0, 84.2%, 60.2%);
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 222 84% 5%;
    --sidebar-primary: 157 64% 52%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 157 74% 83%;
    --sidebar-accent-foreground: 157 50% 20%;
    --sidebar-border: 214.3 31.8% 91.4%;
    --sidebar-ring: 157 64% 52%;
  }
  .dark {
    --background: 222 84% 5%;
    --foreground: 210 40% 98%;
    --card: 222 84% 5%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 5%;
    --popover-foreground: 210 40% 98%;
    --primary: 157 64% 52%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 157 64% 52%;
    --chart-1: hsl(157 64% 52%);
    --chart-2: hsl(157, 50%, 60%);
    --chart-3: hsl(157, 80%, 70%);
    --chart-4: hsl(215 20.2% 65.1%);
    --chart-5: hsl(0, 62.8% 30.6%);
    --sidebar-background: 222 84% 5%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 157 64% 52%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 157 64% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
